
/*First Panel Start*/

*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 113px;
}

.logo{
    background-image: url(Images/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;
}

.add-first{
    color: #CCCCCC;
    font-size: 0.8rem;
    margin-left: 17px;
}
.add-sec{
    color: white;
    margin-left: 4px;
}
.add-icon{
    display: flex;
    align-items: center;
    
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.nav-search:hover{
    border: 2px solid orange;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
       width: 100%;
       font-size: 1rem;
       border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;

}
.lang{
  display: flex;
  justify-content: center;
  align-items: center;
}

.lang-img{
    width: 18px;
    height: 18,px;
    display: flex;
    justify-content: center;
}
.lang-select{
    background-color: #0f1111;
    color: white;
    width: 40px;
    height: 40px;
    border: none;
    font-weight: bold;
}

span{
    font-size: 0.7rem;
}
.commonCss2{
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-cart{
    font-size: 30px;
    display: flex;
    align-items: last baseline;
}

/*  second Panel */

.panel{
    height: 40px;
    display: flex;
    background-color: #222f3d;
    justify-content: space-evenly;
    color: white;
    align-items: center;
}
.panel-ops{
    display: flex;
    width: 70%;
}
.panel-ops p{
    margin-left: 15px;
}

/* Hero Section */

.hero-section{
    background-image: url(Images/hero_image.jpg);
    height: 400px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: last baseline;
}
.link1{
    text-decoration: none;
    color: #007185;
}
.hero-msg{
    background-color: white;
    color: #0f1111;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width: 97%;
    margin-bottom: 20px;
}

/*Shopping Section Boxes Start*/

.shop-section{
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.commonCss3{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px ;
    margin-top: 10px;
}
.box-img{
     height: 300px;
     background-size: cover;
     margin-top: 1rem;
     margin-bottom: 1rem;
     
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    font-size: 0.85rem;
    color: #007185;
}

/*1st Upper Footer Panel Start*/

.recmondations{
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1px solid rgb(110, 102, 102);
    padding: 30px;
}
.button-signin{
    width: 200px;
    height: 25px;
    margin-top: 2px;
    margin-bottom: 2px;
    color: #0f1111;
    font-weight: bold;
    background-color: orange;
    border: none;
    border-radius: 4px;
    font-size: 0.75rem;
    cursor: pointer;
}
.upfooter{
    font-size: 0.60rem;
}
.paragraph{
    margin-left: 10px;
}

/*----Footer----*/
footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #37475a;
    width: auto;
    height: 45px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}
.foot-panel2 ul{
    margin-top: 20px;

}
.foot-panel2 ul a{
    display: block;
    color: white;
    font-size: 0.80rem;
    color: #dddddd;
    text-decoration: none;
    padding: 3px;
}
.foot-panel2 ul a:hover{
    text-decoration:underline;
}

/*---footr pannel 3--*/
.foot-panel3{
    background-color: #222f3d;
    height: 100px;
    color: white;
    border-top: 0.1px solid white;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-logo{
   background-image: url(Images/amazon_logo.png);
   background-size: cover;
   height: 50px;
   width: 100px;
   margin-right: 130px;
}
.f-lang{
    display: flex;
    border: 0.5px solid white;
    padding: 5px;
    margin-right: 20px;
    
}
.f-lang-select{
    background-color: #222f3d;
    color: white;
    font-weight: bold;
    border: none;
}
.dollar{
    margin-right: 20px;
}
.foot-panel4{
    background-color: #131A22;
    color: white;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    font-size: 0.80rem;
}
.foot-panel4 ul a{
    display: block;
    color: white;
    font-size: 0.60rem;
    color: #dddddd;
    text-decoration: none;
}
.foot-panel4 ul a:hover{
    text-decoration: underline;
}
.foot-panel4 ul{
    margin-top: 20px;
}
.l-foot-panel{
    background-color: #131A22;
    height: 50px;
    color: white;
    font-size: 0.70rem;
    font-weight: 500;
}
.l-prgph1 a{
    color: white;
    font-size: 0.70rem;
}
.l-prgph1{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Footer Panel End*/


